html, body {
	font-family: Arial, sans-serif;
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

.container {
	height: 100%;
	width: 100%;
	position: relative;
}

.nav-bar {
	height: 50px;
	width: 100%;
	background-color: gray;
}

#map {
	height: calc(100% - 50px);
	float: right;
	width: 100%;
}

.list {
	height: 100%;
	width: 25%;
	background-color: black;
	color: gray;
	float: left;
	position: absolute;
	-webkit-transform: translate(-500px, 0);
	transform: translate(-500px, 0);t
}

.open {
	-webkit-transform: translate(0, 0);
	transform: translate(0, 0);
}

.list-element {
	list-style-type: none;
	padding-bottom: 20px;
	padding-top: 20px;
	padding-left: 25px;
}

.list-element:hover {
	color: white;
	background-color: gray;
}

ul {
	padding-left: 0;
}

a#menu svg {
	width: 40px;
	fill: #000;
	padding-left: 15px;
	padding-top: 4px;
}

#streetview {
        width: 200px;
        height: 200px;
      }